.introContent{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 55%;
  height: 80%;

  h1{
    color: #fafafa;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: "DM Sans";
  }

  strong{
    font-size: 5.6rem;
    font-weight: 600;
  }

  span{
    font-family: "DM Sans";
  }

}

.wrapper {
  display: inline-flex;
  list-style: none;

  .linkedin:hover .tooltip,
  .linkedin:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }

  .instagram:hover .tooltip,
  .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }

  .github:hover .tooltip,
  .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }

  .icon {
    position: relative;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: white;
    
    a{
      text-decoration: none;
      img{
        max-width: 100%;
      }
    }

    &:hover{
      .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      }

      span{
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        
      }
    } 
  }

  .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #ffffff;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

.animation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  height: 80%;
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 300px;
  width: 300px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

  img{
    max-width: 300px;
  }
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
