html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 10pt;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  linear-gradient(180deg, #17161d 0%, #6610f2 100%); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #26065a 0%, #17161d 100%); 
}